@font-face {
   font-family: "Netflix";
   src: url("../font/NetflixSansRegular.ttf");

}


.main-container {
   font-family: "Netflix";
   position: relative;
   background-color: #070D0D;
   width: 100vw;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
}
.background-title-container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100vw;
   
}


.background-title-container-navbar {
   position: absolute;
   z-index: 2;
   
   display: flex;
}

.navbar-expand-lg {
   display: flex;
   flex-direction: row;

}

.navbar-light .navbar-brand {
   display: flex;
   
   font-size: 3em;
   justify-content: flex-end;
   align-items: center;
   margin-top: 17px;
   color: #E50914;
   margin-left: 2em;
   font-weight: bolder;
   z-index:2; 
}
.btn-outline-success:hover{
   background-color: darkred;
   border: darkred;
   color: aliceblue;
}

.navbar-light .navbar-brand:hover{
   color: #E50914;
}



.language-startsesion {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 3em;
}
.navbar {
   justify-content:flex-start;

}

.row {
   --bs-gutter-x: 0em;
}

.bg-light {
   background-color: #070d0d00 !important;
}


.btn-outline-success {
   color: aliceblue;
   background-color: #E50914;
   border: solid 1px black;
   border-color: #070D0D;
}

.btn-empezar {
   padding: 0.8em;
   padding-left: 2em;
   padding-right: 2em;
   font-size: x-large;
   color: aliceblue;
   background-color: #E50914;
   border: solid 1px black;
   border-color: #070D0D;
   font-size: 16px;
   font-weight: bold;
}

.nav-item{
   list-style-type: none;
}
.nav-link{
   
   list-style-type: none;
   text-decoration: none;
   background-color:#070D0D;
   border: solid 1px grey;
   border-radius: 4px;
   padding: 0.4em;
   color: aliceblue;
   margin-right: 10px;
}

.nav-link:focus, .nav-link:hover {
   color: aliceblue;
}

.background-img-first-section{
   position: relative; 
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.background-img-first-section::before{
   content: "";
      background-image: url("../images/Background-section-1.jpg");
      background-repeat: repeat;
      position: absolute;
      top: -20px;
      right: -14px;
      bottom: 0px;
      left: 0px;
      opacity: 0.2;
      -webkit-box-shadow: inset 0px 0px 107px 114px rgba(0,0,0,0.75);
      -moz-box-shadow: inset 0px 0px 107px 114px rgba(0,0,0,0.75);
      box-shadow: inset 0px 0px 107px 114px rgba(0,0,0,0.75);
   
}
.title{
   width: 80vw;
   position: absolute;
  color: aliceblue;
  font-size: 2em;
  line-height: 0.9;
  text-align: center;
   top:300px;
 
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.subtitle{
   margin-top: 40px;
   position: absolute;
   margin-top: 1em;
   width: 80vw;
   color: aliceblue;
   line-height: 0.9;
   text-align: center;

  
}

.blank20{
   width: 20vw;
   
}

.email-container{
   margin-top: 1em;
   display: flex;
   justify-content: center;
   z-index: 2;
}

.email{

   background-color: rgba(0, 0, 0, 0.2);
   font-size: 16px;
   width: 35vw;
   color: white;
   margin-right:10px;
   border: solid 1px grey;
   border-radius: 2px;
   padding-left: 12px;
   font-weight: 100;
}

.email::placeholder{
   color: aliceblue;
}

.tarifas{
   margin-top: 2em;
   margin-left: -5vw;
   margin-right: 5vw;
   width: 90vw;
   height: 15vh;
   display: flex;
   flex-direction: row;
   filter:brightness(100%);
   background: rgb(255,63,63);
   background: radial-gradient(circle, rgba(255,63,63,1) 0%, rgba(32,27,110,1) 64%, rgba(0,0,0,1) 100%);
   
}

.desc-tarifas{
   display: flex;
   flex-direction: column;
   
   justify-content: center;
   text-align: left;
}

.title-tarifa{
   
   font-size: 20px;
   z-index: 3;
   color: aliceblue;
   margin-bottom: 1em;
}

.subtitle-tarifa{
   
   font-size: 14px;
}

.foto-palomitas{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 30vw;
   height: 15vh;

}

.foto-palomitas img {
   width: 12vw;
   height: 10vh; 
   object-fit: cover
}

@media only screen and (max-width: 600px){
   .navbar-light .navbar-brand {
      
      margin-left: 0.8em;
      font-size: 2em;
     
      
   }

   .language-startsesion {
      
      padding-right: 0.2em;
   }
}

